brotlipy==0.7.0
certifi==2021.10.8
cffi
charset-normalizer
conda==4.12.0
filelock==3.8.0
ftfy==6.1.1
huggingface-hub==0.10.1
idna
numpy==1.23.4
open-clip-torch==2.0.2
packaging==21.3
Pillow==9.3.0
pycosat==0.6.3
pyparsing==3.0.9
PySocks 
PyYAML==6.0
regex==2022.10.31
requests 
ruamel-yaml-conda
six
torch==1.13.0
torchvision==0.14.0
tqdm
typing_extensions==4.4.0
urllib3
wcwidth==0.2.5
